<div class="panel panel-default">
  <div class="panel-body">
    <p>Vielen Dank für deine Nachricht. Wir werden uns innerhalb der nächsten 24 Stunden bei dir melden.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->